@font-face {font-family:'Calibri'; src:url('Calibri.ttf');}
@font-face {font-family:'Segoe UI Historic'; src:url('SegoeUIHistoric.ttf');}

body {font-size: 1.1em; color: #330066; text-shadow: -1px 0 white, 0 1px #f8f8f8, 1px 0 #6a6666, 0 -1px #ab9d9d; background: rgba(255, 255, 255, 1); background-image: url("background.jpg"); background-image: linear-gradient(to right, rgba(255,255,255, 0.2) 0 100%), url("background.jpg"); background-repeat: repeat; font-family: Calibri, Verdana, Arial; font-weight: 900; max-width: 80%; margin: 0px auto;}

.bt, .bt:hover, .bt:visited {text-decoration:none; cursor:pointer; font-size:1.3em; color:#CC0033; font-family:'Segoe UI Historic'; }
.cadr {width:80%; font-family:'Segoe UI Historic'; color:blue; font-size:1.3em; padding:0.3em; }
.center {text-align: center; }
.pa {margin: 0.6em 2% 0.6em 15%; }
div {display: inline-block; margin: 5px 5px 17px 5px;}
.break {display: block; margin: 0px; font-size: 1px;}
.break-large {display: block; margin: 6px;}
textarea {border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.6);}

a:link, a:visited, a:active {color: #1313ab; text-decoration: None;}
a:hover {color: #3535db; text-decoration: underline;}

.myButton {
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
background-color:#768d87;
border-radius:5px;
border:1px solid #566963;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size: .9em;
padding: 5px 8px;
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
background-color:#6c7c7c;
}
.myButton:active {
position:relative;
top:2px;
}
